*{
  font-family: 'Raleway', sans-serif;
  color: #5a5a5a;
}

html{
	scroll-behavior: smooth;
}

.btn{
	border-radius: 0;
}

.jumbotron{
	padding: 0;
	padding-top: 67px;
	padding-bottom: 20px;
	margin-bottom: 0;
	background-color: #fdfdfd;
}

.container{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

hr.footer{
	margin-top: 0;
}

.section{
	width: 90%;
	max-width: 740px;
	margin: 0 auto;
	padding-top: 67px;
	margin-top: -67px;
	margin-bottom: 20px;
}

#banner{
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

#banner-bg{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url("images/banner.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	min-height: 210px;
	width: 110%;
	left: -5%;
	top: -5px;
	z-index: 0;
	/* filter: blur(2px); <-- do we want this? */
}

#banner-fg{
	position: absolute;
	z-index: 2;
	width: 100%;
	color: white;
	text-shadow: 2px 2px 3px black;
	font-size: 3em;
	text-align: center;
	padding-top: 65px;
}

#about img{
	display: block;
	margin: 15px auto;
}

#gallery img, #gallery p{ /* currently not used but maybe later if we don't want to hard code images */
	display: none;
}

#gallery .gallery-grid{
	cursor: pointer;
	background-size: cover;
	background-position: center;
	height: 175px;
	width: 48%;
	margin: 1%;
}

#contact img{
  height: 20px;
}

#contact-form{
	text-align: center;
}

#contact input{
	width: 100%;
	margin-bottom: 10px;
}

#contact input::placeholder, #contact textarea::placeholder{
	padding-left: 5px;
}

#contact textarea{
	width: 100%;
	margin-bottom: 10px;
	height: 100px;
}

#contact button{
	width: 150px;
}

/* Desktop Only */
@media (min-width: 768px) {

	.jumbotron{
		padding-top: 188px;
	}

	.section{
		padding-top: 68px;
		margin-top: -68px;
		margin-bottom: 50px;
	}

	#banner{
		height: 350px;
		margin-bottom: 50px;
	}

	#banner-bg{
		min-height: 360px;
	}

	#banner-fg{
		text-align: left;
		padding-top: 110px;
		padding-left: 15%;
	}

	#about img{
		margin: auto;
	}

	#gallery .gallery-grid{
		height: 200px;
		width: 31%;
		margin: 1%;
	}

	#gallery .gallery-grid:hover{
		filter: brightness(0.8);
		-webkit-transition: filter 0.25s; /* Safari */
  		transition: filter 0.25s;
	}

	#contact-form{
		text-align: left;
	}

}


/* - - - - - - - - - - - - - - - - - - - -
   GALLERY STYLES
- - - - - - - - - - - - - - - - - - - - -*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  border: none;
}

/* The Close Button */
.close-btn {
  color: white;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 35px;
}

.close-btn:hover,
.close-btn:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.25s; /* Safari */
  transition: color 0.25s;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  background-color: white;
}

.modal-image{
	display: block;
	margin: auto;
	padding: 20px;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white !important;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
}
.caption-container #caption {
  color: black;
}