*{
  font-family: 'Raleway', sans-serif;
  color: #5a5a5a;
}

.container{
	margin-top: 67px;
}

.section{
	padding-top: 67px;
	margin-top: -67px;
}

#contact img{
  height: 20px;
}

/* Desktop Only */
@media (min-width: 768px) {
	.container{
		margin-top: 168px;
	}

	.section{
		padding-top: 168px;
		margin-top: -168px;
	}
}